<% Item.kinds.each_with_index do |kind, index| %>
  <% if index % 2 == 0%>
    <div class="container-table-row">
  <% end %>
  <div class="<%= kind.name.downcase.tr(' ', '_') %> container-table-cell">
    <div class="block block-header">
      <h2 class="h4"><%= kind.name.pluralize %></h2>
      <%= link_to new_standup_item_path(@standup, post_id: @post.try(:id), 'item[kind]' => kind.name), 'data-kind' => kind.name do %>
        <i class="icon-plus-sign"></i>
      <% end %>
    </div>
    <% if kind.subtitle.present? %>
      <div class="subtitle"><%= kind.subtitle %></div>
    <% end %>
    <% if items[kind.name].present? %>
      <%= render partial: "shared/#{kind.name.downcase.tr(' ', '_')}", locals: {items: items} %>
    <% end %>
  </div>
  <% if index % 2 == 1 %>
    </div>
  <% end %>
<% end %>
