<div class="content-wrapper container">
  <h1 class="h2 mbs align-center">Standup Items</h1>
  <div class="site-body container-table">
    <%= render partial: 'as_html', locals: {items: @items} %>
  </div>
  <div class='container-table-match'>
    <%= link_to 'Presentation', presentation_standup_items_path(@standup), class: 'btn btn-warning navbar-btn align-right mbxl' %>
    <div class="bg-light bal pvxl phm">
      <h2 class="h2 mbs align-center">Send Standup Email</h2>
      <div class="subtitle align-center mbl">
        <%= @standup.last_email_sent_time if @standup.last_email_sent_time %>
      </div>
      <%= form_tag "/standups/#{@standup.id}/posts", method: 'post', class: 'container-form' do %>
          <%= text_field_tag 'post[from]', nil, placeholder: 'Standup Host(s)' %>
          <%= text_field_tag 'post[title]', nil, placeholder: 'Email Subject (eg: Best Standup Ever)', class: 'wide-input' %>
          <%= submit_tag 'Send Email',
                         data: {confirm: @send_email_confirm_message},
                         id: 'create-post',
                         class: 'btn btn-success'
          %>
      <% end %>
    </div>
  </div>
</div>
